/*universal styles + html font size set*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
  font-size: 16px;
}

/*header section*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr 38%;
    align-items: center;
    height:40px;
    width: 100%;
    border: 2px lightblue solid;
   
}


header h1{
    grid-column: 1 /span 1;
    margin-left: 5%;
   
    
}


header nav{
    grid-column: 3/span 1;
    display: flex;
    justify-content: space-around;
}


/*background section*/

.background{
    background-image: linear-gradient(to top right,red,yellow);
    width: 100%;
    /*this can take up the viewport height*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*display section*/
.car-display{
    width: 60%;
    height: 70%;
    position: absolute;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
   text-align: center;
}


/*footer*/

footer{
    width: 100%;
    height: 100px;
    background-color: white;
}
