/*universal styles + html font size set*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
  font-size: 16px;
}

/*header section*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr 38%;
    align-items: center;
    height:40px;
    width: 100%;
    border: 2px lightblue solid;
   
}


header h1{
    grid-column: 2 /span 1;
    text-align: center;
    
}


header nav{
    grid-column: 3/span 1;
    display: flex;
    justify-content: space-around;
}