/*universal styles + html font size set*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
  font-size: 16px;
}

body{
    font-family: 'Coda Caption', sans-serif;
}

/*header section*/

header{
    display: grid;
    grid-template-columns: 1fr 1fr 38%;
    align-items: center;
    height:10vh;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 1rem;
    
    
   
}


header h1{
    grid-column: 1 /span 1;
    margin-left: 5%;
    font-size: 2em;
   
    
}


header nav{
    grid-column: 3/span 1;
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
}

header nav a{
    text-decoration: none;
    color: white;
    font-size: 1em;
}


/*background section*/

.background{
    background-image: linear-gradient(to top right,rgb(153, 0, 241),rgb(0, 0, 223));
    width: 100%;
    /*this can take up the viewport height*/
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*animations*/

@keyframes car-display{
  from{margin-left:-200%;}
  to{margin-right:0;}
}


/*display section*/

.car-display{
    width: 75%;
    height: 85%;
    position: absolute;
    z-index: 2;
    background-color: black;
    border-radius: 20px;
   text-align: center;
   animation-name: car-display;
   animation-duration: 3s;
   color: white;
   font-size: 1rem;
   
}

.car-display h2{
    padding-top: 2vh;
    font-size: 1.2em;
}

.cars{
    display: flex;
    width: 85%;
    height: 85%;
   margin: 1% auto;
   border:8px inset rgb(153, 0, 241);
   flex-wrap: wrap;
   justify-content: center;
  align-items: center;
}

.cars img{
    width:40%;
    height: 45%;
    border-radius: 4px;
    margin-left: 2%;
    min-width: 150px;
    cursor: pointer;
    
}

/*info section*/
.info{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    z-index:3;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr 1fr;
    font-size: 1rem;
    
}

.info img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 0px;
    grid-area: 1/1/span 1/span 1;
}

.info-writing{
    color: black;
    grid-area: 2/2/span 1/span 2;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.info-writing h2{
    font-size: 1.2em;
}

.info-writing p{
    margin-top: 3%;
    font-size: 0.9em;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  
}


/*close circle*/

.fa-times-circle{
    color: black;
    justify-self: end;
    align-self: start;
    margin-right: 3%;
    margin-top: 5%;
    grid-area: 1/3 /span 1/span 1;
    height: 50px;
    width:50px;
    font-size: 40px;
    cursor: pointer;
   
}




/*footer*/

footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer p{
    color: white;
    grid-column: 1/span 2;
    align-self: center;
    margin-left: 2%;

}

.social-icons{
    grid-column: 3/span 1;
    font-size: 1rem;
   text-align: center;
    width: 100%;
}

.fa{
   width: 20%;
   margin-top: 2vh;
}

.fa::before{
    color: white;
    font-size: 2em;
    
}



/*contact page*/

.contact-form{
   
    width: 100%;
    height: 80vh;
}


.contact-form form{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
   justify-content: space-around;
    margin: 10vh auto;
    border:8px inset rgb(153, 0, 241);
    padding: 10px;
}

.contact-form textarea{
    height: 100px;
}


/*media queries*/
@media only screen and (max-width:895px){
    .cars{
        height: auto;
        flex-direction: column;
    }

    .car-display{
        height: auto;
    }

    .info img{
        grid-area: 1/1/span 1/span 2;
    }

}

@media only screen and (max-width:665px){
    html{
        font-size: 13px;
    }
}